<form class="mt-4" method="POST" name="container-form" action="/course/handle-form-actions">
    <div>
        <h3>Khoa hoc cua toi</h3>
        <a href="/me/trash/courses">Thung rac ({{deleteCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chon tat ca
                </label>
            </div>
            <select class="form-select form-select-sm  checkbox-select-all-options" name="action" required="required">
                <option  value="">-- Hanh dong --</option>
                <option value="delete">Xoa</option>
            </select>
            <button  class="btn btn-success btn-sm  check-all-submit-btn" disabled="disabled">Thuc hien</button>
        </div>
    </div>
    {{_sort.type}}
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Chon</th>
                <th scope="col">Stt</th>
                <th scope="col">
                    Ten khoa hoc
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">Trinh do
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col">Thoi gian tao
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th scope="col" colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" name="courseIds[]" type="checkbox" value="{{this._id}}" >
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td><a href="/course/{{this.slug}}">{{this.name}}</a></td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/course/{{this._id}}/edit" class="btn btn-success">Sua</a>
                    <a href="" data-id="{{this._id}}" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteCourseModal">Xoa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Ban chua dang khoa hoc nao.
                    <a href="/course/create">Dang khoa hoc</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{! Delete modal }}
<div class="modal" tabindex="-1" id="deleteCourseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoa khoa hoc?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Chac chan muon xoa khoa hoc nay?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoa</button>
                <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hiden form --}}
<form name="deleteCourseForm" method="POST">
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
       
        var courseId;
        var deleteForm = document.forms['deleteCourseForm']
        var exampleModal = document.getElementById('deleteCourseModal')
        var checkboxAll = $('#checkbox-all');
        var courseItemcheckbox = $('input[name="courseIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        var btnDeleteCourse = document.getElementById('btn-delete-course')
       // var containerForm = document.forms['container-form']
        var containerForm = $('form[name="container-form"]')
        var selectBox = $('select[name="action"]')

        exampleModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        courseId = button.getAttribute('data-id')
        });

        btnDeleteCourse.onclick = function(){
            //alert(courseId)
            deleteForm.action = '/course/'+courseId +'?_method=DELETE'
            console.log(deleteForm)
            deleteForm.submit();
            
        }

        //checkbox-all changed
        checkboxAll.change(function (){
            var isCheckedAll = $(this).prop('checked'); 
            courseItemcheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()

        })
        
        //course-item-checkbox changed
        courseItemcheckbox.change(function (){
            var isCheckedAllItem = courseItemcheckbox.length === $('input[name="courseIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAllItem)
            renderCheckAllSubmitBtn()
        })

        // Check all submit buttons clicked
        checkAllSubmitBtn.click(function(e){
            e.preventDefault();
            var isNotSubmitAble = $(this).hasClass('disabled');    
            if(!isNotSubmitAble){
                containerForm.submit();
            }
        })

        // check selectbox action 
        containerForm.on('submit', function(e){
            if (!selectBox.val() || selectBox.val() === '') {
                e.preventDefault();
                alert('Please select an action before submitting.');
            }
           /* var isNotSubmitAble = checkAllSubmitBtn.hasClass('disabled');    
            if(isNotSubmitAble && selectBoxValue.val().length === 0){
                e.preventDefault();
            }*/
        })

        //Re-render check all submit button
        function renderCheckAllSubmitBtn(){
            var checkedCount =  $('input[name="courseIds[]"]:checked').length
            if(checkedCount){
                checkAllSubmitBtn.attr('disabled',false);
            }else{
                checkAllSubmitBtn.attr('disabled',true); 
            }
        }
        //console.log()
            

    })
    
</script>
