<div class="mt-4">
    <div>
    <h3>Khoa hoc da xoa</h3>
    <a href="/me/stored/courses">Quay lai</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Ten khoa hoc</th>
                <th scope="col">Trinh do</th>
                <th scope="col">Thoi gian xoa</th>
                <th scope="col" colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td><a href="/course/{{this.slug}}">{{this.name}}</a></td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Khoi phuc</a>
                    <a href="" data-id="{{this._id}}" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteCourseModal">Xoa vinh vien</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thung rac trong.
                    <a href="/me/stored/courses">Quay lai danh sach khoa hoc</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{! Delete modal }}
<div class="modal" tabindex="-1" id="deleteCourseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoa khoa hoc?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hanh dong nay khong the khoi phuc. Ban van muon xoa khoa hoc?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoa vinh vien</button>
                <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}
<form name="deleteCourseForm" method="POST">
</form>
<form name="restore-course-form" method="POST">
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
       
        var courseId;
        var deleteForm = document.forms['deleteCourseForm']
        var restoreForm = document.forms['restore-course-form']
        var exampleModal = document.getElementById('deleteCourseModal')

        exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        courseId = button.getAttribute('data-id')
        //console.log(recipient)
        });

        var btnDeleteCourse = document.getElementById('btn-delete-course')
        btnDeleteCourse.onclick = function(){
            //alert(courseId)
            deleteForm.action = '/course/'+courseId +'/force?_method=DELETE'
            console.log(deleteForm)
            deleteForm.submit();
            
        }
        var restoreBtns = document.getElementsByClassName('btn-restore');
        Array.prototype.forEach.call(restoreBtns, function(btn) {
            btn.onclick = function(e) {
                e.preventDefault();
                courseId = this.getAttribute('data-id');
                restoreForm.action = '/course/' + courseId + '/restore?_method=PATCH';
                restoreForm.submit();
            };
        });

    
    })
</script>
